
body {
    font-family: 'Inconsolata', serif;
    font-size: x-large;
    line-height: 1.6;
    margin: 0;
    background-color:rgb(1, 161, 161, 0.15);
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-top: 12%;
    border: 4px solid #01386E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 5%;
}

.header {
    background-color: #016e6e;
    color: white;
    width: 97.7%;
    padding: 1px 15px;
    border-style: inset;
    border-width: 0px 0px 2px 0px;
    box-shadow: inset 0 -6px 6px -6px black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border-radius: 5px;
}

.text {
    text-align: center;
    padding-bottom: 0px;
}

.form {
    text-align: center;
    background-color:  rgb(1, 110, 56, 0.25);
    border-radius: 50px;
    padding: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* source for below: https: //codepen.io/kocsten/pen/rggjXp */

.glow-on-hover {
    width: 90px;
    height: 35px;
    border: none;
    outline: none;
    color: #000;
    background: rgb(212, 212, 212);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 7px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(212, 212, 212);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


